#playlistPaper {
  height: 600px;
  overflow-y: auto;
  flex: 4;
  margin-top: 5px;
}

.reorder {
  display: block;
  fill: rgb(117, 117, 117) !important;
  position: absolute;
  top: 4px;
  margin: 12px;
  right: 4px;
}

#spinner {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: center;
}

.sortableHelper {
  z-index: 1600;
}
